{% extends 'base.html' %}
{% load static %}

{% block main_content %}

    <main>
        <article>


            <!-- HERO -->
            <section 
            class="section hero has-before has-bg-image" 
            id="home" 
            aria-label="home">
                <div class="container">

                    <h1 class="hero-title">Barbers & Hair Cutting</h1>

                    <p class="hero-text">
                        We are the best barbers in town! 
                        We specialize in providing high-quality haircuts and style services to our clients.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis accusamus doloribus incidunt explicabo sequi alias velit quod similique iure harum exercitationem, expedita obcaecati sed, asperiores aut suscipit minus recusandae iusto!
                    </p>

                    <a href="#services" class="btn has-before">
                        <span class="span">Explore our services</span>
                    </a>
                
                </div>
            </section>


            <!-- Services -->
            <section 
            class="section services" 
            id="services" 
            aria-label="services">
                <div class="container">

                    <h2 class="h2 section-title text-center">Services</h2>

                    <p class="section-text text-center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, illo! Iusto blanditiis quos atque enim, consectetur, assumenda vel tempore distinctio, quibusdam aliquid ipsam animi totam eius a vero voluptate fuga. 
                    </p>

                    <ul class="grid-list">

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <i class="flaticon-salon"></i>
                                </div>
                                
                                <h3 class="h3">
                                    <a href="#" class="card-title">Hair Cutting & Styling</a>
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ad recusandae tenetur voluptatem deleniti in autem unde dolorem odio, delectus necessitatibus iusto ut similique voluptatum veniam, perspiciatis alias omnis ipsa!
                                </p>

                                <a href="#" class="card-btn" aria-label="more">
                                    <ion-icon name="arrow-forward" aria-hidden="true">Learn More</ion-icon>
                                </a>
                                
                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <i class="flaticon-shampoo"></i>
                                </div>
                                
                                <h3 class="h3">
                                    <a href="#" class="card-title">Hair Washing</a>
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio minus perspiciatis quae repellat veniam itaque, velit quisquam sapiente quibusdam facere, aperiam praesentium est consequuntur rem quis quidem assumenda sit vel!
                                </p>

                                <a href="#" class="card-btn" aria-label="more">
                                    <ion-icon name="arrow-forward" aria-hidden="true">Learn More</ion-icon>
                                </a>
                                
                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <i class="flaticon-hot-stone"></i>
                                </div>
                                
                                <h3 class="h3">
                                    <a href="#" class="card-title">Body Treatment</a>
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus ratione, natus numquam praesentium error quidem incidunt impedit sint, perspiciatis asperiores sit minus possimus dolorum ab. Nobis blanditiis et dolores cupiditate?
                                </p>

                                <a href="#" class="card-btn" aria-label="more">
                                    <ion-icon name="arrow-forward" aria-hidden="true">Learn More</ion-icon>
                                </a>
                                
                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <i class="flaticon-treatment"></i>
                                </div>
                                
                                <h3 class="h3">
                                    <a href="#" class="card-title">Beauty & Spa</a>
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet exercitationem aliquid distinctio iure rem labore omnis molestias, officia blanditiis excepturi illo? Mollitia excepturi vel a unde, fugit quasi quae ab!
                                </p>

                                <a href="#" class="card-btn" aria-label="more">
                                    <ion-icon name="arrow-forward" aria-hidden="true">Learn More</ion-icon>
                                </a>
                                
                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <i class="flaticon-shaving-razor"></i>
                                </div>
                                
                                <h3 class="h3">
                                    <a href="#" class="card-title">Stylist Shaving</a>
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate accusamus placeat mollitia dolorum maxime unde ea et voluptatibus ex ipsa magni sit illum natus, harum ad quasi quos tempore rem?
                                </p>

                                <a href="#" class="card-btn" aria-label="more">
                                    <ion-icon name="arrow-forward" aria-hidden="true">Learn More</ion-icon>
                                </a>
                                
                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <i class="flaticon-hair-dye"></i>
                                </div>
                                
                                <h3 class="h3">
                                    <a href="#" class="card-title">Hair Coloring</a>
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tenetur blanditiis tempora expedita tempore sunt, reprehenderit in cumque consectetur. Blanditiis in debitis, quam nostrum harum repudiandae pariatur eligendi suscipit accusamus.
                                </p>

                                <a href="#" class="card-btn" aria-label="more">
                                    <ion-icon name="arrow-forward" aria-hidden="true">Learn More</ion-icon>
                                </a>
                                
                            </div>
                        </li>

            </section>


            <!-- pricing -->
            <section class="section pricing has-bg-image has-before" 
            id="pricing" 
            aria-label="pricing" 
            style="background-image: url({% static "images/background.png" %});">
                <div class="container">
                
                    <h2 class="h2 section-title text-center">Pricing Plan</h2>

                    <p class="section-text text-center">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem, culpa, explicabo rerum ullam alias voluptatibus non animi ex distinctio provident illum quam. Assumenda reprehenderit dicta officia esse est. Pariatur.
                    </p>
                        
                    <div class="pricing-tab-container">

                        <ul class="tab-filter">

                            <li>
                                <button class="filter-btn active" data-filter-btn="all">
                                    <div class="btn-icon">
                                        <i class="flaticon-beauty-salon" aria-hidden="true"></i>
                                    </div>
                                    <p class="btn-text">All Pricing</p>
                                </button>
                            </li>

                            <li>
                                <button class="filter-btn" data-filter-btn="beauty-spa">
                                    <div class="btn-icon">
                                        <i class="flaticon-relax" aria-hidden="true"></i>
                                    </div>
                                    <p class="btn-text">Beauty & Spa</p>
                                </button>
                            </li>

                            <li>
                                <button class="filter-btn" data-filter-btn="body-treatment">
                                    <div class="btn-icon">
                                        <i class="flaticon-massage" aria-hidden="true"></i>
                                    </div>
                                    <p class="btn-text">Body Treatment</p>
                                </button>
                            </li>

                            <li>
                                <button class="filter-btn" data-filter-btn="face-washing">
                                    <div class="btn-icon">
                                        <i class="flaticon-spa" aria-hidden="true"></i>
                                    </div>
                                    <p class="btn-text">Face Washing</p>
                                </button>
                            </li>

                            <li>
                                <button class="filter-btn" data-filter-btn="meditation">
                                    <div class="btn-icon">
                                        <i class="flaticon-yoga" aria-hidden="true"></i>
                                    </div>
                                    <p class="btn-text">Meditation</p>
                                </button>
                            </li>

                            <li>
                                <button class="filter-btn" data-filter-btn="shaving">
                                    <div class="btn-icon">
                                        <i class="flaticon-razor-blade" aria-hidden="true"></i>
                                    </div>
                                    <p class="btn-text">Shaving</p>
                                </button>
                            </li>

                        </ul>

                        <ul class="grid-list">

                            <li data-filter="shaving">
                                <div class="pricing-card">
                                    
                                    <figure class="card-banner img-holder" 
                                            style="--width: 90; --height: 90;">
                                        <img src="{% static "images/pricing-1.jpg" %}"
                                                width="90" height="90" alt="Hair Cutting & Fitting"
                                                class="img-cover">
                                    </figure>

                                    <div class="wrapper">
                                        <h3 class="h3 card-title">Hair Cutting & Fitting</h3>
                                        <p class="card-title">Clean & Simple 30-40 Minutes</p>
                                    </div>

                                    <data class="card-price" value="79">RM 79</data>

                                </div>
                            </li>

                            <li data-filter="shaving">
                                <div class="pricing-card">
                                    
                                    <figure class="card-banner img-holder" 
                                        style="--width: 90; --height: 90;">
                                        <img src="{% static "images/pricing-2.jpg" %}"
                                                width="90" height="90" alt="Shaving & Facial"
                                                class="img-holder">
                                    </figure>

                                    <div class="wrapper">
                                        <h3 class="h3 card-title">Hair Cutting & Fitting</h3>
                                        <p class="card-title">Clean & Simple 30-40 Minutes</p>
                                    </div>

                                    <data class="card-price" value="45">RM 45</data>

                                </div>
                            </li>

                            <li data-filter="face-washing">
                                <div class="pricing-card">
                                    
                                    <figure class="card-banner img-holder" 
                                        style="--width: 90; --height: 90;">
                                        <img src="{% static "images/pricing-3.jpg" %}"
                                                width="90" height="90" alt="Hair Color & Wash"
                                                class="img-holder">
                                    </figure>

                                    <div class="wrapper">
                                        <h3 class="h3 card-title">Hair Cutting & Fitting</h3>
                                        <p class="card-title">Clean & Simple 30-40 Minutes</p>
                                    </div>

                                    <data class="card-price" value="35">RM 35</data>

                                </div>
                            </li>

                            <li data-filter="body-treatment">
                                <div class="pricing-card">
                                    
                                    <figure class="card-banner img-holder" 
                                        style="--width: 90; --height: 90;">
                                        <img src="{% static "images/pricing-4.jpg" %}"
                                                width="90" height="90" alt="Body Massage"
                                                class="img-holder">
                                    </figure>

                                    <div class="wrapper">
                                        <h3 class="h3 card-title">Hair Cutting & Fitting</h3>
                                        <p class="card-title">Clean & Simple 30-40 Minutes</p>
                                    </div>

                                    <data class="card-price" value="56">RM 56</data>

                                </div>
                            </li>

                            <li data-filter="beauty-spa">
                                <div class="pricing-card">
                                    
                                    <figure class="card-banner img-holder" 
                                            style="--width: 90; --height: 90;">
                                        <img src="{% static "images/pricing-5.jpg" %}"
                                                width="90" height="90" alt="Beauty & Spa"
                                                class="img-holder">
                                    </figure>

                                    <div class="wrapper">
                                        <h3 class="h3 card-title">Hair Cutting & Fitting</h3>
                                        <p class="card-title">Clean & Simple 30-40 Minutes</p>
                                    </div>

                                    <data class="card-price" value="27">RM 27</data>

                                </div>
                            </li>

                            <li data-filter="face-washing">
                                <div class="pricing-card">
                                    
                                    <figure class="card-banner img-holder" 
                                            style="--width: 90; --height: 90;">
                                        <img src="{% static "images/pricing-6.jpg" %}"
                                                width="90" height="90" alt="Facial & Face Wash"
                                                class="img-holder">
                                    </figure>

                                    <div class="wrapper">
                                        <h3 class="h3 card-title">Hair Cutting & Fitting</h3>
                                        <p class="card-title">Clean & Simple 30-40 Minutes</p>
                                    </div>

                                    <data class="card-price" value="63">RM 63</data>

                                </div>
                            </li>

                            <li data-filter="body-treatments">
                                <div class="pricing-card">
                                    
                                    <figure class="card-banner img-holder" 
                                            style="--width: 90; --height: 90;">
                                        <img src="{% static "images/pricing-7.jpg" %}"
                                                width="90" height="90" alt="Backbone Massage"
                                                class="img-holder">
                                    </figure>

                                    <div class="wrapper">
                                        <h3 class="h3 card-title">Hair Cutting & Fitting</h3>
                                        <p class="card-title">Clean & Simple 30-40 Minutes</p>
                                    </div>

                                    <data class="card-price" value="43">RM 43</data>

                                </div>
                            </li>

                            <li data-filter="medidation">
                                <div class="pricing-card">
                                    
                                    <figure class="card-banner img-holder" 
                                            style="--width: 90; --height: 90;">
                                        <img src="{% static "images/pricing-8.jpg" %}"
                                                width="90" height="90" alt="Medidation & Massage"
                                                class="img-holder">
                                    </figure>

                                    <div class="wrapper">
                                        <h3 class="h3 card-title">Hair Cutting & Fitting</h3>
                                        <p class="card-title">Clean & Simple 30-40 Minutes</p>
                                    </div>

                                    <data class="card-price" value="74">RM 74</data>

                                </div>
                            </li>

                        </ul>

                    </div>

                </div>
            </section>


            <!-- gallery -->
            <section class="section gallery" id="gallery" aria-label="photo gallery">
                <div class="container">

                    <div class="title-wrapper">

                        <div>
                            <h2 class="h2 section-title">Latest Photo Gallery</h2>

                            <p class="section-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore fugit laborum, culpa porro ratione cum quis dolores doloremque, alias quasi repudiandae fuga obcaecati labore. Distinctio accusantium cupiditate iusto magni facilis.
                            </p>
                        </div>

                        <a href="#" class="btn has-before">
                            <span class="span">Explore More Here</span>

                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>

                    </div>

                    <ul class="grid-list">

                        <li>
                            <div class="gallery-card">

                                <figure class="card-banner img-holder" 
                                style="--width: 420; --height: 550;">

                                    <img src="{% static "images/gallery-1.jpg" %}"
                                    width="420" 
                                    height="550" 
                                    loading="lazy" 
                                    alt="Hair Cutting"
                                    class="img-cover">
                                </figure>

                                <div class="card-content">
                                    <h3 class="h3 card-title">Hair Cutting & Styling</h3>

                                    <p class="card-text">Barbers & Salon Services</p>

                                    <a href="#" class="card-btn" aria-label="Read more">
                                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="gallery-card">

                                <figure class="card-banner img-holder" 
                                style="--width: 420; --height: 550;">

                                    <img src="{% static "images/gallery-2.jpg" %}"
                                    width="420" 
                                    height="550" 
                                    loading="lazy" 
                                    alt="Hair Cutting"
                                    class="img-cover">
                                </figure>

                                <div class="card-content">
                                    <h3 class="h3 card-title">Stylist Shaving</h3>

                                    <p class="card-text">Barbers & Salon Services</p>

                                    <a href="#" class="card-btn" aria-label="Read more">
                                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="gallery-card">

                                <figure class="card-banner img-holder" 
                                style="--width: 420; --height: 550;">

                                    <img src="{% static "images/gallery-3.jpg" %}"
                                    width="420" 
                                    height="550" 
                                    loading="lazy" 
                                    alt="Hair Cutting"
                                    class="img-cover">
                                </figure>

                                <div class="card-content">
                                    <h3 class="h3 card-title">Hair Cutting & Styling</h3>

                                    <p class="card-text">Barbers & Salon Services</p>

                                    <a href="#" class="card-btn" aria-label="Read more">
                                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="gallery-card">

                                <figure class="card-banner img-holder" 
                                style="--width: 420; --height: 550;">

                                    <img src="{% static "images/gallery-4.jpg" %}"
                                    width="420" 
                                    height="550" 
                                    loading="lazy" 
                                    alt="Hair Cutting"
                                    class="img-cover">
                                </figure>

                                <div class="card-content">
                                    <h3 class="h3 card-title">Hair Cutting & Styling</h3>

                                    <p class="card-text">Barbers & Salon Services</p>

                                    <a href="#" class="card-btn" aria-label="Read more">
                                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
            </section>

        </article>
    </main>

{% endblock %}