{% extends 'base.html' %}
{% load static %}

{% block registration_block %}

<div class="jumbotron">
    {% if registered %}
        <p>Thank you for registering! You may now log in.</p>
    {% else %}
        <h1 class="display-4">Registration</h1>
        <form id="user_form" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
    {% endif %}
</div>

{% endblock %}